<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../element-hijo1/element-hijo1.html">
<link rel="import" href="../element-hijo2/element-hijo2.html">

<dom-module id="padre-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <element-hijo1></element-hijo1>
	<element-hijo2></element-hijo2>
  </template>

  <script>
    /**
     * `padre-element`
     * Componente contenedor de funcionalidades de hijos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreElement extends Polymer.Element {
      static get is() { return 'padre-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padre-element'
          }
        };
      }
    }

    window.customElements.define(PadreElement.is, PadreElement);
	
	document.querySelector('padre-element').addEventListener('eventboton1', function (e) {
       alert(e.detail.boton); // true
    })
	document.querySelector('padre-element').addEventListener('eventboton2', function (e) {
       alert(e.detail.boton); // true
    })
  </script>
</dom-module>
